.header__lang-link {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color:#FFFFFF;
  justify-content: flex-end;
}

.header__lang-link:hover {
  opacity: 0.3;
  transition: opacity 0.5s linear;
}

@media screen and (max-width: 767px){
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
