.places {
  margin: 0 auto;
  padding: 92px 0 92px;
  max-width: calc(100% - 296px);
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px){
  .places {
    margin: 0 auto;
    padding: 92px 0 92px;
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px){
  .places {
    padding: 84px 0 84px;
    max-width: 100%;
  }
}
