.footer__link {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding-right: 18px;
  text-decoration: none;
  color:#FFFFFF;
}

.footer__link:hover {
  opacity: 0.3;
  transition: opacity 0.5s linear;
}

.footer__link:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 767px){
  .footer__link {
    font-size: 24px;
    line-height: 1;
    padding-bottom: 32px;
  }
}
