.place__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  padding-bottom: 26px;
}

.place__paragraph:nth-of-type(2n) {
  padding-bottom: 0;
}

@media screen and (max-width: 1023px){
  .place__paragraph {
    font-size: 16px;
    padding-bottom: 25px;
  }
}

